* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #0a2910;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px #10b304a0, 5px 5px 15px #ffff0b;
}

.calculator input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: -8px -8px 15px #10b304a0, 5px 5px 15px #ffff0b;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  color: #ffffff;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: left;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
  color: #000000;
  background-color: #2ef820c1;
  font-weight: bold;
}

form input.operator {
  color: #4aff3d;
  font-weight: bold;
}

form input.operator:hover {
  color: #000000;
  background-color: #4aff3d;
}

@media screen and (max-width: 450px) {
  .calculator input {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  form .display input {
    font-size: 30px;
  }
  
}